<% provide :title, t(".provide_title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".service_html_first" %>
  <%= link_to t(".rails_help"), Settings.static_pages.help.herf_help %>.
  <%= t ".service_html_last" %>
  <%= link_to t(".rails_book"), Settings.static_pages.help.herf_book %>.
</p>
